footer {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.footer-link{
    width: 20px;
    height: 20px;
    background-image: url(./img/social-icons.svg);
}

@media (min-width: 768px) {
    footer{
        position: fixed;
        display: flex;
        align-items: end;
        width: 100%;
        height: 100vh;
        top: 0;
        padding: 20px;
    }
    
    
}
