@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: #1F1D1D;
}

:root {
    --yellow: #F28A0F;
}

a {
    text-decoration: none;
}

h3{
    font-size: 64px;
}

main {
    height: 100vh;
    background-image: url(../public/bg.svg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}